.swiper-slide {
  height: 420px;
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 325px;
    margin-top: 0px;
  }
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 18px;
  font-weight: var(--bold-font-weight);
  color: var(--secondary-orange);
}

.swiper-button-next {
  right: var(--swiper-navigation-sides-offset, 0px);
}

.swiper-button-prev {
  left: var(--swiper-navigation-sides-offset, 0px);
}

.swiper-button-prev,
.swiper-button-next {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve" height="72px" width="72px" stroke="black" fill="black" stroke-width="3"><g><path d="M10.756 29.167l-2.897-10.82M7.859 18.347l-5.355 4.747 1.214-20.203 11.151 16.89-7.010-1.434z"/></g></svg>')
      1 1,
    auto;
}

.swiper-button-next:hover,
.swiper-button-prev:hover,
.swiper-button-next:focus,
.swiper-button-prev:focus {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve" height="72px" width="72px" stroke="black" fill="transparent" stroke-width="3"><g><path d="M10.756 29.167l-2.897-10.82M7.859 18.347l-5.355 4.747 1.214-20.203 11.151 16.89-7.010-1.434z"/></g></svg>')
      1 1,
    pointer;
}

.swiper-button-next:active,
.swiper-button-prev:active {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve" height="72px" width="72px" stroke="black" fill="transparent" stroke-width="3"><g><path d="M20.056 28.896l-1.811-6.763M18.245 22.133l-3.347 2.967 0.759-12.627 6.969 10.556-4.381-0.896zM8.221 21.777c-1.279-1.279-2.223-2.854-2.748-4.585s-0.615-3.565-0.262-5.339c0.353-1.774 1.138-3.434 2.286-4.832s2.622-2.492 4.294-3.184c1.671-0.692 3.487-0.962 5.288-0.784s3.529 0.796 5.033 1.801c1.504 1.005 2.737 2.366 3.59 3.961s1.299 3.376 1.299 5.185M11.051 18.949c-0.814-0.814-1.415-1.816-1.749-2.918s-0.392-2.269-0.167-3.398c0.225-1.129 0.724-2.185 1.454-3.075s1.669-1.586 2.732-2.027c1.064-0.441 2.219-0.612 3.365-0.499s2.246 0.507 3.203 1.146c0.957 0.64 1.742 1.505 2.284 2.521s0.826 2.149 0.826 3.3"/></g></svg>')
      1 1,
    pointer;
}
