:root {
    --modal-top: 0;
    --modal-left: 0;
  }
  
  
  
  
  
  .calendar {
    position: relative;
    width: 544px;
    margin: 20px auto;
  
    background-color: #ECF2FF;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    width: 100%;
    margin-bottom: 16px;
  
  }
  
  .right-align {
    margin-top: 6px;
    margin-left: auto;
    height: 20px;
    display: flex;
  
    align-items: center;
  }
  .month-title {
    font-size: 16px;
      color: #407BFF;
  }
  
  
  .days {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 4px;
  
  }
  
  .day {
    padding: 7px;
    background-color: #FFF;
    border-radius: 50%;
    text-align: center;
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .button {
    color: #407BFF;
    border: none;
    background-color: transparent;
    padding: 5px 10px;
    flex-shrink: 0;
    cursor: pointer;
  }
  
  
  
  
  
  
  
  
  
  .modal {
    position: fixed;
    top: var(--modal-top);
    left: var(--modal-left);
    width: 100%;
    height: 100%;
  
  }
  
  .modal-content {
    width: 292px;
    height: 188px;
    background-color: #fff;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: absolute;
  }
  
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #407BFF;
  }
  .title-modal {
    color: #407BFF;
    font-size: 16px;
  }
  .modal-paragraf {
    font-size: 16px;
    color: #2f2f2f;
    line-height: 20px;
  }
  .span-modal {
    margin-left: 6px;
    color: #407BFF;
    font-size: 18px;
  }
  .container {
    margin-top: 24px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 24px;
  }
  .procent {
    color: #9EBBFF;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }.day.lowPercentage {
    border: #FF9D43 1px solid; /* Змініть колір бордера, коли відсоток менший за 100 */
  }
  
  
  