a {
  text-decoration: none;
  color: inherit;
}

*:hover,
*:focus {
  cursor: inherit;
}

button {
  background-color: transparent;
  color: inherit;
  border-width: 0;
  padding: 0;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

p {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
