@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", "sans-serif";
}

h1,
h2,
h3,
h4,
p,
ul {
  padding: 0;
  margin: 0;
}
